<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="longfei.stocks.mappers.StockMapper">
    <!--<resultMap id="BaseResultMap" type="longfei.stocks.test.Stock">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="Float" property="price" />
    </resultMap>-->

    <select id="getAllStocks" resultType="longfei.stocks.beans.Stock">
        SELECT *
        FROM STOCK_LIST
    </select>

    <select id="getStocksByName" resultType="longfei.stocks.beans.Stock">
        SELECT *
        FROM STOCK_LIST
        WHERE NAME = #{param}
    </select>

    <select id="getStocksByCode" resultType="longfei.stocks.beans.Stock">
        SELECT *
        FROM STOCK_LIST
        WHERE CODE = #{param}
    </select>

    <select id="getHistory" resultType="longfei.stocks.beans.StockHistory">
        select *
        from HISTORY_DATA
        WHERE CODE=#{arg0} AND DATE &gt;= #{arg1} AND DATE &lt;= #{arg2}
    </select>
</mapper>