<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>预测走势</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="../js/util.js"></script>
</head>
<body>
<!--<div class="container" style="font-size: 16px;margin-top: 16px">
    <ul class="row  list-inline" style="overflow:hidden;zoom:1;">
        <li th:each="stock:${historyData}">
            <p th:text="'代码:'+${stock.code}+'  日期:'+${stock.date}+'   收盘价:'+${stock.close}"/>
        </li>
    </ul>
</div>-->
<h1 id="title" class="text-center"></h1>
<table align="center">
    <tr>
        <td>
            <div id="container" style="width: 600px;height:400px;"></div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    var code = getQueryVariable('code');
    var chart = null;
    var url = "/stocks/futureData";

    function update(data) {
        datat = JSON.parse(data);
        chart = Highcharts.chart('container', {
            chart: {
                type: 'spline',
                inverted: true
            },
            title: {
                text: '未来7个工作日预测'
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: '价格'
                }
            },
            yAxis: {
                title: {
                    text: "时间"
                }
            },
            series: datat
        });
    }

    getData(code, "", "", url, update);

</script>
</body>
</html>