<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>历史走势</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
</head>
<body>
<!--<div class="container" style="font-size: 16px;margin-top: 16px">
    <ul class="row  list-inline" style="overflow:hidden;zoom:1;">
        <li th:each="stock:${historyData}">
            <p th:text="'代码:'+${stock.code}+'  日期:'+${stock.date}+'   收盘价:'+${stock.close}"/>
        </li>
    </ul>
</div>-->
<div id="container" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    var chart = null;
    $.post("/stocks/historyData2",
        {
            code: "600006",
            start: "20081002",
            end: "20101205"
        }, function (data, status) {
            datat = JSON.parse(data);
            chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Live random data'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: datat
            });
        });

</script>
</body>
</html>